:root {
  --font-display: "Orbitron", sans-serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --cube-face-bg: rgba(255, 255, 255, 0.02);
  --cube-shadow:
    inset 0 0 25px rgba(124, 93, 250, 0.3), 0 0 15px rgba(124, 93, 250, 0.2);
}


[data-theme="dark"] {
  --bg-main: #0e0b16;
  --bg-glass: rgba(235, 230, 255, 0.04);
  --bg-card: rgba(235, 230, 255, 0.04);
  --bg-form-side: rgba(14, 11, 22, 0.3);
  --bg-showcase: linear-gradient(
    135deg,
    rgba(30, 24, 54, 0.4),
    rgba(15, 11, 30, 0.7)
  );
  --border-glass: rgba(235, 230, 255, 0.12);
  --inner-border: rgba(235, 230, 255, 0.12);
  --input-bg: rgba(0, 0, 0, 0.25);
  --input-focus-bg: rgba(0, 0, 0, 0.4);
  --input-patch-bg: #141026;
  --social-btn-bg: rgba(255, 255, 255, 0.03);
  --social-btn-hover: rgba(255, 255, 255, 0.08);

  --accent-purple: #7c5dfa;
  --accent-lavender: #b3a4ff;
  --accent-cyan: #d4bfff;

  --text-main: #f3efff;
  --text-muted: #a59fb3;

  --neon-glow:
    0 0 25px rgba(124, 93, 250, 0.55), 0 0 50px rgba(124, 93, 250, 0.25);
  --neon-cyan-glow: 0 0 20px rgba(179, 164, 255, 0.4);
  --card-shadow:
    0 30px 70px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.15);
  --grid-opacity: rgba(124, 93, 250, 0.05);
  --orb-1: rgba(179, 164, 255, 0.15);
  --orb-2: rgba(124, 93, 250, 0.18);
}




[data-theme="light"] {
  --bg-main: #eae4f7;
  --bg-glass: rgba(255, 255, 255, 0.55);
  --bg-card: rgba(255, 255, 255, 0.55);
  --bg-form-side: rgba(255, 255, 255, 0.3);
  --bg-showcase: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5),
    rgba(230, 220, 255, 0.7)
  );
  --border-glass: rgba(124, 93, 250, 0.25);
  --inner-border: rgba(124, 93, 250, 0.2);
  --input-bg: rgba(255, 255, 255, 0.75);
  --input-focus-bg: #fff;
  --input-patch-bg: #ffffff;
  --social-btn-bg: rgba(255, 255, 255, 0.65);
  --social-btn-hover: #fff;

  --accent-purple: #7c5dfa;
  --accent-lavender: #a38fff;
  --accent-cyan: #b3a4ff;

  --text-main: #241f33;
  --text-muted: #6b6578;

  --neon-glow:
    0 15px 35px rgba(124, 93, 250, 0.25), 0 0 1px rgba(124, 93, 250, 0.1);
  --neon-cyan-glow: 0 0 15px rgba(179, 164, 255, 0.3);
  --card-shadow:
    0 30px 60px rgba(124, 93, 250, 0.18),
    inset 0 1px 2px rgba(255, 255, 255, 0.9);
  --grid-opacity: rgba(124, 93, 250, 0.06);
  --orb-1: rgba(179, 164, 255, 0.4);
  --orb-2: rgba(124, 93, 250, 0.3);

  --cube-face-bg: rgba(255, 255, 255, 0.8);
  --cube-shadow:
    inset 0 0 25px rgba(124, 93, 250, 0.15), 0 15px 35px rgba(124, 93, 250, 0.15);
}